.homePageContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    color: #ffffff;
    font-family: monospace, monospace;
    padding: 0;
    margin: 0;
}

.asciiArtDisplay {
    font-family: monospace, monospace;
    white-space: pre;
    font-size: 1.5rem;
    line-height: 1;
    padding: 0;
    text-align: center;
}

.bodyText {
    font-size: 2rem;
}
