.navBar {
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
    padding: 0.8rem 0.8rem 0.8rem 1.6rem;
    border: 0.4rem solid #808080;
    background-color: #000080;
    box-sizing: border-box;
    user-select: none;
    font-family: monospace, monospace;
    position: relative;
    overflow: visible;
}
